openapi: 3.2.0
info:
  version: v2
  title: DASWebAPI V2 User V2 API
servers:
- url: https://api.digitalairstrike.com
tags:
- name: UserV2
paths:
  /v2/user/me:
    get:
      tags:
      - UserV2
      summary: 'You need to authenticate using /v1/auth before using this endpoint, using a username, password, and bearer token.

        If done successfully v1/auth should give you a token. Prepend "bearer " to the front

        of that token and then put all that into the Authorization header to hit this endpoint.'
      operationId: UserV2_GetUser
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DAS.Models.UserModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/DAS.Models.UserModel'
            application/json:
              schema:
                $ref: '#/components/schemas/DAS.Models.UserModel'
            text/json:
              schema:
                $ref: '#/components/schemas/DAS.Models.UserModel'
            text/html:
              schema:
                $ref: '#/components/schemas/DAS.Models.UserModel'
  /v2/user/list:
    get:
      tags:
      - UserV2
      summary: Retrieve a list of all users
      operationId: UserV2_GetList
      parameters:
      - name: all
        in: query
        description: if set to true [all].
        required: false
        schema:
          type: boolean
      - name: orderBy
        in: query
        description: "FirstName\n            FirstNameDESC\n            LastName\n            LastNameDESC\n            Email\n            EmailDESC\n            AccessLevel\n            AccessLevelDESC\n            LastLogin\n            LastLoginDESC"
        required: false
        schema:
          type: string
      - name: pageSize
        in: query
        description: Page size.
        required: false
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        description: Page value, zero based.
        required: false
        schema:
          type: integer
          format: int32
      - name: q
        in: query
        description: The q.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DAS.Models.PagedResult_DAS.Models.UserModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/DAS.Models.PagedResult_DAS.Models.UserModel'
            application/json:
              schema:
                $ref: '#/components/schemas/DAS.Models.PagedResult_DAS.Models.UserModel'
            text/json:
              schema:
                $ref: '#/components/schemas/DAS.Models.PagedResult_DAS.Models.UserModel'
            text/html:
              schema:
                $ref: '#/components/schemas/DAS.Models.PagedResult_DAS.Models.UserModel'
components:
  schemas:
    DAS.Models.UserModel:
      type: object
      properties:
        id:
          format: int32
          type: integer
        guid:
          format: uuid
          type: string
        externalId:
          format: uuid
          type: string
        active:
          type: boolean
        accessLevel:
          enum:
          - Hidden
          - None
          - User
          - Administrator
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        password:
          type: string
        phone:
          type: string
        title:
          type: string
        created:
          format: date-time
          type: string
        updated:
          format: date-time
          type: string
        lastLogin:
          format: date-time
          type: string
        timeZone:
          type: string
        accountAccess:
          type: array
          items:
            $ref: '#/components/schemas/DAS.Models.AccountAccessModel'
        settings:
          type: array
          items:
            $ref: '#/components/schemas/DAS.Models.UserSettings'
        portalStyle:
          type: string
        portalFeatures:
          type: array
          items:
            type: string
        accountHierarchyViews:
          type: array
          items:
            $ref: '#/components/schemas/DAS.Models.AccountHierarchyView'
        advocateName:
          type: string
        advocateMail:
          type: string
        advocatePhone:
          type: string
    DAS.Models.AccountHierarchyView:
      type: object
      properties:
        hierarchyName:
          type: string
        hierarchyGuid:
          format: uuid
          type: string
        accountName:
          type: string
        accountGuid:
          format: uuid
          type: string
        root:
          $ref: '#/components/schemas/DAS.Models.PortalAccountV2'
        isDefault:
          type: boolean
    DAS.Models.ReportSettings:
      type: object
      properties:
        enterprise:
          type: array
          items:
            $ref: '#/components/schemas/DAS.Models.ReportSettingDetails'
        unsubscribe:
          type: array
          items:
            $ref: '#/components/schemas/DAS.Models.ReportSettingDetails'
        bounce:
          type: array
          items:
            $ref: '#/components/schemas/DAS.Models.ReportSettingDetails'
    DAS.Models.PagedResult_DAS.Models.UserModel:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DAS.Models.UserModel'
        count:
          format: int32
          type: integer
    DAS.Models.SurveyResponseNotificationSettings:
      type: object
      properties:
        sales:
          $ref: '#/components/schemas/DAS.Models.RatingNotificationSettings'
        service:
          $ref: '#/components/schemas/DAS.Models.RatingNotificationSettings'
    DAS.Models.ReviewNotificationSettings:
      type: object
      properties:
        sales:
          $ref: '#/components/schemas/DAS.Models.RatingNotificationSettings'
        service:
          $ref: '#/components/schemas/DAS.Models.RatingNotificationSettings'
        uncategorized:
          $ref: '#/components/schemas/DAS.Models.RatingNotificationSettings'
    DAS.Models.AccountAccessModel:
      type: object
      properties:
        accountGuid:
          format: uuid
          type: string
        accessLevel:
          enum:
          - Hidden
          - None
          - User
          - Administrator
          type: string
    DAS.Models.NotificationSettings:
      type: object
      properties:
        review:
          $ref: '#/components/schemas/DAS.Models.ReviewNotificationSettings'
        surveyResponse:
          $ref: '#/components/schemas/DAS.Models.SurveyResponseNotificationSettings'
    DAS.Models.UserSettings:
      type: object
      properties:
        accountGuid:
          format: uuid
          type: string
        notification:
          $ref: '#/components/schemas/DAS.Models.NotificationSettings'
        report:
          $ref: '#/components/schemas/DAS.Models.ReportSettings'
    DAS.Models.PortalAccountV2:
      type: object
      properties:
        name:
          type: string
        guid:
          format: uuid
          type: string
        parent:
          type: array
          items:
            $ref: '#/components/schemas/DAS.Models.PortalAccountV2'
        child:
          type: array
          items:
            $ref: '#/components/schemas/DAS.Models.PortalAccountV2'
        level:
          format: int32
          type: integer
        label:
          type: string
        features:
          type: array
          items:
            type: string
        brands:
          type: string
    DAS.Models.ReportSettingDetails:
      type: object
      properties:
        frequency:
          enum:
          - Never
          - Daily
          - Weekly
          - Monthly
          type: string
        format:
          enum:
          - Default
          - CSV
          - XLS
          - PDF
          type: string
        method:
          enum:
          - None
          - Email
          - Mobile
          type: string
        expandTable:
          type: boolean
    DAS.Models.RatingNotificationSettings:
      type: object
      properties:
        negative:
          enum:
          - None
          - Email
          - Mobile
          type: string
        positive:
          enum:
          - None
          - Email
          - Mobile
          type: string
