swagger: '2.0'
info:
  version: v1
  title: DASWebAPI V1
host: api.digitalairstrike.com
schemes:
- https
paths:
  /v1/account/{accountGuid}:
    get:
      tags:
      - Account
      summary: Retrieve account details by account identifer
      operationId: Account_GetAccount
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        description: ''
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DAS.Models.PortalAccountDetailed'
  /v1/account/{accountGuid}/socialActivity:
    get:
      tags:
      - Account
      summary: Retrieve social activities by account identifier
      operationId: Account_GetSocialActivities
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        description: ''
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DAS.Models.SocialActivity'
  /v1/account/{accountGuid}/reviewV2:
    get:
      tags:
      - Account
      summary: Retrieve reviews by account identifier, supports partial filter
      operationId: Account_GetReviewsV2
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        required: true
        type: string
        format: uuid
      - name: fromDate
        in: query
        required: true
        type: string
        format: date-time
      - name: toDate
        in: query
        required: false
        type: string
        format: date-time
      - name: categories
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: reviewType
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: source
        in: query
        required: false
        type: string
      - name: siteName
        in: query
        required: false
        type: string
      - name: disputedReview
        in: query
        required: false
        type: boolean
      - name: state
        in: query
        required: false
        type: string
      - name: hasResponse
        in: query
        required: false
        type: boolean
      - name: closedLoop
        in: query
        required: false
        type: boolean
      - name: brands
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: orderBy
        in: query
        required: false
        type: string
      - name: page
        in: query
        required: false
        type: integer
        format: int32
      - name: pageSize
        in: query
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DAS.Models.ReviewV2'
  /v1/account/{accountGuid}/review:
    get:
      tags:
      - Account
      summary: Retrieve reviews by account identifier, supports partial filter
      operationId: Account_GetReviews
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        required: true
        type: string
        format: uuid
      - name: query.fromDate
        in: query
        required: true
        type: string
        format: date-time
      - name: query.toDate
        in: query
        required: false
        type: string
        format: date-time
      - name: query.categories
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: query.reviewType
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: query.source
        in: query
        required: false
        type: string
      - name: query.siteName
        in: query
        required: false
        type: string
      - name: query.disputedReview
        in: query
        required: false
        type: boolean
      - name: query.state
        in: query
        required: false
        type: string
      - name: query.hasResponse
        in: query
        required: false
        type: boolean
      - name: query.closedLoop
        in: query
        required: false
        type: boolean
      - name: query.brands
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: query.orderBy
        in: query
        required: false
        type: string
      - name: query.page
        in: query
        required: false
        type: integer
        format: int32
      - name: query.pageSize
        in: query
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DAS.Core.EntityFramework.Review'
  /v1/account/{accountGuid}/reviewStats:
    get:
      tags:
      - Account
      summary: Retrieve review stats by account identifier
      operationId: Account_GetReviewStatsAsync
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        required: true
        type: string
        format: uuid
      - name: query.fromDate
        in: query
        required: true
        type: string
        format: date-time
      - name: query.toDate
        in: query
        required: false
        type: string
        format: date-time
      - name: query.categories
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: query.reviewType
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: query.source
        in: query
        required: false
        type: string
      - name: query.siteName
        in: query
        required: false
        type: string
      - name: query.disputedReview
        in: query
        required: false
        type: boolean
      - name: query.state
        in: query
        required: false
        type: string
      - name: query.hasResponse
        in: query
        required: false
        type: boolean
      - name: query.closedLoop
        in: query
        required: false
        type: boolean
      - name: query.brands
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: query.orderBy
        in: query
        required: false
        type: string
      - name: query.page
        in: query
        required: false
        type: integer
        format: int32
      - name: query.pageSize
        in: query
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DAS.Models.ReviewStats'
  /v1/account/{accountGuid}/reviewStatsByInterval:
    get:
      tags:
      - Account
      summary: Retrieve review stats for interval and limit by account identifier
      operationId: Account_GetReviewStatsByIntervalAsync
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        description: ''
        required: true
        type: string
        format: uuid
      - name: interval
        in: query
        description: day || week || month || year
        required: true
        type: string
      - name: limit
        in: query
        description: ''
        required: true
        type: integer
        format: int32
      - name: reviewType
        in: query
        description: ''
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DAS.Models.ReviewStatsByInterval'
  /v1/account/{accountGuid}/surveyStatsByInterval:
    get:
      tags:
      - Account
      summary: Retrieve survey stats for interval and limit by account identifier
      operationId: Account_GetSurveyStatsByIntervalAsync
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        description: The account unique identifier.
        required: true
        type: string
        format: uuid
      - name: interval
        in: query
        description: day || week || month || year
        required: true
        type: string
      - name: limit
        in: query
        description: The limit.
        required: true
        type: integer
        format: int32
      - name: surveyType
        in: query
        description: Type of the survey.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DAS.Models.SurveyStatsByInterval'
  /v1/account/{accountGuid}/survey:
    get:
      tags:
      - Account
      summary: Retrieve surveys by account identifier
      operationId: Account_GetSurveys
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        description: ''
        required: true
        type: string
        format: uuid
      - name: query.fromDate
        in: query
        required: true
        type: string
        format: date-time
      - name: query.toDate
        in: query
        required: false
        type: string
        format: date-time
      - name: query.surveyType
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: query.source
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DAS.Core.EntityFramework.Survey'
  /v1/account/{accountGuid}/survey/responsesV2:
    get:
      tags:
      - Account
      summary: Retrieve survey responses by account identifier
      operationId: Account_GetSurveyResponsesV2Async
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        description: ''
        required: true
        type: string
        format: uuid
      - name: page
        in: query
        required: true
        type: integer
        format: int32
      - name: pageSize
        in: query
        required: true
        type: integer
        format: int32
      - name: orderBy
        in: query
        required: false
        type: string
      - name: query.fromDate
        in: query
        required: true
        type: string
        format: date-time
      - name: query.toDate
        in: query
        required: false
        type: string
        format: date-time
      - name: query.surveyType
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: query.source
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DAS.Models.SurveyV2Response'
  /v1/account/{accountGuid}/surveyStats:
    get:
      tags:
      - Account
      summary: Retrieve survey stats by account identifier
      operationId: Account_GetSurveyStatsAsync
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        required: true
        type: string
        format: uuid
      - name: query.fromDate
        in: query
        required: true
        type: string
        format: date-time
      - name: query.toDate
        in: query
        required: false
        type: string
        format: date-time
      - name: query.surveyType
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: query.source
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DAS.Models.SurveyStatsV2'
  /v1/account/{accountGuid}/survey/response:
    get:
      tags:
      - Account
      summary: Retrieve survey responses by account identifier
      operationId: Account_GetSurveyResponsesAsync
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        description: ''
        required: true
        type: string
        format: uuid
      - name: startDate
        in: query
        description: ''
        required: true
        type: string
        format: date-time
      - name: endDate
        in: query
        description: ''
        required: false
        type: string
        format: date-time
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DAS.Models.SurveyResponseLegacy'
  /v1/account/{accountGuid}/owner:
    get:
      tags:
      - Account
      summary: Retrieve account owner by account identifier
      operationId: Account_GetOwner
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        description: ''
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DAS.Models.AccountManager'
  /v1/account/{accountGuid}/employee:
    get:
      tags:
      - Account
      summary: Retrieve employees by account identifier
      operationId: Account_GetEmployee
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        description: ''
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DAS.Core.EntityFramework.Employee'
  /v1/account/{accountGuid}/employeeStats:
    get:
      tags:
      - Account
      summary: Retrieve employee stats by account identifier
      operationId: Account_GetEmployeeStatsAsync
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        required: true
        type: string
        format: uuid
      - name: fromDate
        in: query
        required: true
        type: string
        format: date-time
      - name: toDate
        in: query
        required: false
        type: string
        format: date-time
      - name: type
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DAS.Models.EmployeeStats'
  /v1/account/{accountGuid}/enterpriseStatsV2:
    get:
      tags:
      - Account
      summary: Retrieve survey and review stats by account identifier
      operationId: Account_GetEnterpriseStatsAsyncV2
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        required: true
        type: string
        format: uuid
      - name: fromDate
        in: query
        required: true
        type: string
        format: date-time
      - name: toDate
        in: query
        required: false
        type: string
        format: date-time
      - name: type
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DAS.Models.EnterpriseStatsV2'
  /v1/account/{accountGuid}/enterpriseStats:
    get:
      tags:
      - Account
      summary: Retrieve survey and review stats by account identifier
      operationId: Account_GetEnterpriseStatsAsync
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        required: true
        type: string
        format: uuid
      - name: fromDate
        in: query
        required: true
        type: string
        format: date-time
      - name: toDate
        in: query
        required: false
        type: string
        format: date-time
      - name: type
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DAS.Models.EnterpriseStats'
  /v1/account/{accountGuid}/parent:
    get:
      tags:
      - Account
      summary: Retrieves parent accounts of the referenced account
      operationId: Account_GetParent
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        description: ''
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DAS.Models.PortalAccount'
  /v1/account/{accountGuid}/child:
    get:
      tags:
      - Account
      summary: Retrieves child accounts of the referenced account
      operationId: Account_GetChild
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        description: ''
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DAS.Models.PortalAccount'
  /v1/account/{accountGuid}/descendant:
    get:
      tags:
      - Account
      operationId: Account_GetDescendant
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DAS.Models.PortalAccount'
  /v1/account/{accountGuid}/heirarchy:
    get:
      tags:
      - Account
      operationId: Account_GetHeirarchy
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DAS.Models.PortalAccount'
  /v1/account/{accountGuid}/unsubscribe:
    get:
      tags:
      - Account
      operationId: Account_GetUnsubscribe
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        required: true
        type: string
        format: uuid
      - name: fromDate
        in: query
        required: true
        type: string
        format: date-time
      - name: toDate
        in: query
        required: false
        type: string
        format: date-time
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DAS.Models.Unsubscribe'
  /v1/account/{accountGuid}/unsubscribeReport:
    get:
      tags:
      - Account
      operationId: Account_GetUnsubscribeReport
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        required: true
        type: string
        format: uuid
      - name: fromDate
        in: query
        required: true
        type: string
        format: date-time
      - name: toDate
        in: query
        required: false
        type: string
        format: date-time
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/account/{accountGuid}/gm2016:
    get:
      tags:
      - Account
      summary: Determine if a given account has an active GM 2016 package
      operationId: Account_GetGM2016
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        description: ''
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: boolean
  /v1/account/{accountGuid}/activePackageList:
    get:
      tags:
      - Account
      summary: Returns a list of active packages
      operationId: Account_GetActivePackages
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        description: ''
        required: true
        type: string
        format: uuid
      - name: product
        in: query
        description: ''
        required: false
        type: string
      responses:
        '200':
          description: OK
          schema:
            type: string
  /v1/account/{accountGuid}/notificationsettings:
    get:
      tags:
      - Account
      operationId: Account_GetAccountNotification
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DAS.Models.PortalAccountNotifySettings'
  /v1/account/{accountGuid}/toyotareputation:
    get:
      tags:
      - Account
      operationId: Account_GetToyotaReputationReport
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        required: true
        type: string
        format: uuid
      - name: year
        in: query
        required: true
        type: integer
        format: int32
      - name: month
        in: query
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/account/{accountGuid}/activity:
    post:
      tags:
      - Account
      operationId: Account_AddActivity
      consumes:
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      - application/json
      - text/json
      - text/html
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        required: true
        type: string
        format: uuid
      - name: activity
        in: body
        required: true
        schema:
          $ref: '#/definitions/DAS.Models.ActivityModel'
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/account/{dealerGuid}/surveySample/{email}:
    post:
      tags:
      - Account
      operationId: Account_SendSurveyEmail
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: dealerGuid
        in: path
        required: true
        type: string
        format: uuid
      - name: email
        in: path
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/account/provisionDashboard/{accountGuid}:
    get:
      tags:
      - Account
      operationId: Account_GetProvisionDashboard
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/account/smsprovisiondetails/{accountGuid}:
    get:
      tags:
      - Account
      summary: Retrieve account sms provision details by account identifer
      operationId: Account_GetSMSProvisionDetails
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        description: ''
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/clients:
    get:
      tags:
      - Client
      summary: Returns a paginated result set of the SL Active clients
      operationId: Client_GetClients
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: request.apiKey
        in: query
        required: false
        type: string
      - name: request.queryKey
        in: query
        required: false
        type: string
      - name: request.pageSize
        in: query
        required: false
        type: integer
        format: int32
      - name: request.currentPage
        in: query
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/clients/{clientId}/surveys:
    get:
      tags:
      - Client
      summary: Returns paginated result of surveys and associated information for the specified client
      description: Removed because Overstock change of product leadership.
      operationId: Client_GetClientSurveys
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: clientId
        in: path
        required: true
        type: string
      - name: request.clientId
        in: query
        required: false
        type: string
        format: uuid
      - name: request.fromDate
        in: query
        required: false
        type: string
        format: date-time
      - name: request.toDate
        in: query
        required: false
        type: string
        format: date-time
      - name: request.rating
        in: query
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: request.apiKey
        in: query
        required: false
        type: string
      - name: request.queryKey
        in: query
        required: false
        type: string
      - name: request.pageSize
        in: query
        required: false
        type: integer
        format: int32
      - name: request.currentPage
        in: query
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            type: object
      deprecated: true
  /v1/accounts/{clientId}/configuration/addons:
    get:
      tags:
      - Configuration
      operationId: Configuration_GetAddonConfiguration
      consumes:
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      - application/json
      - text/json
      - text/html
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: clientId
        in: path
        required: true
        type: string
        format: uuid
      - name: config.optInSmsSweepstakes
        in: query
        required: false
        type: boolean
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/accounts/{clientId}/configuration/mobile:
    get:
      tags:
      - Configuration
      operationId: Configuration_GetMobileConfiguration
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: clientId
        in: path
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/employee/{employeeId}:
    get:
      tags:
      - Employee
      summary: Retrieve employee by employee identifer
      operationId: Employee_GetEmployee
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: employeeId
        in: path
        description: ''
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DAS.Models.EmployeeModel'
  /v1/mail/send:
    post:
      tags:
      - Mail
      operationId: Mail_PostMessageAsynchronous
      consumes:
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      - application/json
      - text/json
      - text/html
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: message
        in: body
        required: true
        schema:
          $ref: '#/definitions/DAS.Models.Envelope'
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/mail/sendsync:
    post:
      tags:
      - Mail
      operationId: Mail_PostMessageSynchronous
      consumes:
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      - application/json
      - text/json
      - text/html
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: message
        in: body
        required: true
        schema:
          $ref: '#/definitions/DAS.Models.Envelope'
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/mail/status/{token}:
    get:
      tags:
      - Mail
      operationId: Mail_GetStatus
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: token
        in: path
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/mail/events/{token}:
    get:
      tags:
      - Mail
      operationId: Mail_GetEventsAsync
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: token
        in: path
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/notification/{clientId}/sms/phonenumbers/new:
    post:
      tags:
      - Notification
      operationId: Notification_ProvisionSmsNumber
      consumes:
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      - application/json
      - text/json
      - text/html
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: clientId
        in: path
        required: true
        type: string
        format: uuid
      - name: requestInfo
        in: body
        required: true
        schema:
          $ref: '#/definitions/DASWebAPI.Controllers.SmsProvisionRequestInfo'
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/notification/{clientId}/sms/phonenumbers/{smsNumber}:
    delete:
      tags:
      - Notification
      operationId: Notification_DeprovisionSmsNumber
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: clientId
        in: path
        required: true
        type: string
        format: uuid
      - name: smsNumber
        in: path
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/accounts/{accountId}/promotions:
    get:
      tags:
      - Promotions
      summary: Used by web browsers to request a redirect while also allowing us to count the click.
      operationId: Promotions_GetPromotionRedirect
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountId
        in: path
        description: The account identifier.
        required: true
        type: string
        format: uuid
      - name: promotionId
        in: query
        description: The promotion identifier.
        required: true
        type: string
        format: uuid
      - name: redirect
        in: query
        description: The redirect.
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/review/{reviewGuid}:
    get:
      tags:
      - Review
      summary: Retrieve review by identifier
      operationId: Review_GetReview
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: reviewGuid
        in: path
        description: ''
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DAS.Models.ReviewModel'
  /v1/review/{reviewGuid}/response:
    get:
      tags:
      - Review
      summary: Retrieve all responses for a review
      operationId: Review_GetReviewResponses
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: reviewGuid
        in: path
        description: ''
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DAS.Models.ReviewResponseV2'
    post:
      tags:
      - Review
      summary: Create a new review response
      operationId: Review_PostReviewResponse
      consumes:
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      - application/json
      - text/json
      - text/html
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: reviewResponse
        in: body
        required: true
        schema:
          $ref: '#/definitions/DAS.Models.ReviewResponseV2'
      - name: reviewGuid
        in: path
        description: ''
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DAS.Models.ReviewResponseV2'
  /v1/review/{reviewGuid}/response/{responseGuid}:
    get:
      tags:
      - Review
      summary: Retrieve a single review response
      operationId: Review_GetReviewResponse
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: reviewGuid
        in: path
        description: ''
        required: true
        type: string
        format: uuid
      - name: responseGuid
        in: path
        description: ''
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DAS.Models.ReviewResponseV2'
  /v1/review:
    post:
      tags:
      - Review
      summary: Inserts or updates one or more reviews into the database
      operationId: Review_PostReview
      consumes:
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      - application/json
      - text/json
      - text/html
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: reviewModels
        in: body
        description: An array of review models
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/DAS.Models.ReviewModel'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DAS.Models.ReviewModel'
  /v1/review/{reviewGuid}/DepartmentDisposition:
    post:
      tags:
      - Review
      summary: Records review department disposition.
      operationId: Review_DepartmentDisposition
      consumes:
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      - application/json
      - text/json
      - text/html
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: model
        in: body
        description: Department disposition model.
        required: true
        schema:
          $ref: '#/definitions/DAS.Models.ReviewDepartmentDispositionModel'
      - name: reviewGuid
        in: path
        description: Review GUID
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DAS.Models.ReviewModel'
  /v1/review/accounts/{accountId}/sitelinks:
    get:
      tags:
      - Review
      operationId: getReviewSiteLinks
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountId
        in: path
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DAS.Models.CustomerReviewSiteInfo'
  /v1/review/accounts/{accountId}/sites:
    get:
      tags:
      - Review
      operationId: getReviewSiteRedirect2
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountId
        in: path
        required: true
        type: string
        format: uuid
      - name: surveyId
        in: query
        required: true
        type: string
        format: uuid
      - name: site
        in: query
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/review/accounts/{accountId}/configuration/reviewsites:
    get:
      tags:
      - Review
      operationId: getAllReviewSites
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountId
        in: path
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/review/{accountId}/reviews/refresh:
    get:
      tags:
      - Review
      operationId: Review_RefreshReviews
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountId
        in: path
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/rlcustomer/{customerGuid}/packages:
    get:
      tags:
      - RLCustomer
      operationId: RLCustomer_GetPackages
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: customerGuid
        in: path
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DAS.Models.PackageModel'
  /v1/site/list:
    get:
      tags:
      - Site
      summary: Retrieve sites
      operationId: Site_GetSites
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: isActive
        in: query
        description: Nullable boolean; Null returns all sites, True returns all sites that are active;
          False returns all sites that inactive
        required: false
        type: boolean
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DAS.Models.Site'
  /v1/site/{id}:
    get:
      tags:
      - Site
      summary: Retrieve single site by site identifier
      operationId: Site_GetSite
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: id
        in: path
        description: The site ID of the value you want to return
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DAS.Models.Site'
  /v1/smartfacts/{customerGuid}:
    get:
      tags:
      - SmartFacts
      operationId: SmartFacts_Get
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: customerGuid
        in: path
        required: true
        type: string
        format: uuid
      - name: type
        in: query
        required: true
        type: string
      - name: initialDate
        in: query
        required: true
        type: string
        format: date-time
      - name: periods
        in: query
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/SOCi/{accountGuid}/provision:
    get:
      tags:
      - SOCi
      summary: Provisions the specified account unique identifier.
      operationId: SOCi_Provision
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        description: The account unique identifier.
        required: true
        type: string
        format: uuid
      - name: projectId
        in: query
        description: The project identifier.
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/SOCi/{accountGuid}/deprovision:
    get:
      tags:
      - SOCi
      summary: Deprovisions the specified account unique identifier.
      operationId: SOCi_Deprovision
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: path
        description: The account unique identifier.
        required: true
        type: string
        format: uuid
      - name: projectId
        in: query
        description: The project identifier.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/stats/survey:
    get:
      tags:
      - Stats
      summary: Retrieve survey stats by list of account identifiers
      operationId: Stats_GetSurveyStatsAsync
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: query
        required: true
        type: array
        items:
          type: string
          format: uuid
        collectionFormat: multi
      - name: query.fromDate
        in: query
        required: true
        type: string
        format: date-time
      - name: query.toDate
        in: query
        required: false
        type: string
        format: date-time
      - name: query.surveyType
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: query.source
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DAS.Models.SurveyStatsV2'
  /v1/stats/review:
    get:
      tags:
      - Stats
      summary: Retrieve review stats by list of account identifiers
      operationId: Stats_GetReviewStatsAsync
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: query
        required: true
        type: array
        items:
          type: string
          format: uuid
        collectionFormat: multi
      - name: query.fromDate
        in: query
        required: true
        type: string
        format: date-time
      - name: query.toDate
        in: query
        required: false
        type: string
        format: date-time
      - name: query.categories
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: query.reviewType
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: query.source
        in: query
        required: false
        type: string
      - name: query.siteName
        in: query
        required: false
        type: string
      - name: query.disputedReview
        in: query
        required: false
        type: boolean
      - name: query.state
        in: query
        required: false
        type: string
      - name: query.hasResponse
        in: query
        required: false
        type: boolean
      - name: query.closedLoop
        in: query
        required: false
        type: boolean
      - name: query.brands
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: query.orderBy
        in: query
        required: false
        type: string
      - name: query.page
        in: query
        required: false
        type: integer
        format: int32
      - name: query.pageSize
        in: query
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DAS.Models.ReviewStats'
  /v1/stats/enterprise:
    get:
      tags:
      - Stats
      summary: Retrieve survey and review stats by list of account identifiers
      operationId: Stats_GetEnterpriseStatsAsync
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: query
        required: true
        type: array
        items:
          type: string
          format: uuid
        collectionFormat: multi
      - name: fromDate
        in: query
        required: true
        type: string
        format: date-time
      - name: toDate
        in: query
        required: false
        type: string
        format: date-time
      - name: type
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DAS.Models.EnterpriseStatsV2'
  /v1/stats/employee:
    get:
      tags:
      - Stats
      summary: Retrieve employee stats by list of account identifiers
      operationId: Stats_GetEmployeeStatsAsync
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: accountGuid
        in: query
        required: true
        type: array
        items:
          type: string
          format: uuid
        collectionFormat: multi
      - name: fromDate
        in: query
        required: true
        type: string
        format: date-time
      - name: toDate
        in: query
        required: false
        type: string
        format: date-time
      - name: type
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              type: array
              items:
                $ref: '#/definitions/DAS.Models.EmployeeStats'
  /v1/stats/ToyotaSocialInteractions:
    get:
      tags:
      - Stats
      operationId: Stats_GetToyotaSocialInteractionsReport
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: fromDate
        in: query
        required: false
        type: string
        format: date-time
      - name: toDate
        in: query
        required: false
        type: string
        format: date-time
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/survey/{surveyId}/response:
    get:
      tags:
      - Survey
      summary: Retrieve survey responses by survey identifier
      operationId: Survey_GetSurveyResponsesAsync
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: surveyId
        in: path
        description: ''
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DAS.Models.SurveyResponseV2'
  /v1/survey/maritz/{maritzSurveyId}:
    get:
      tags:
      - Survey
      operationId: Survey_GetMaritzSurveyByMaritzSurveyId
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: maritzSurveyId
        in: path
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/survey/accounts/{clientId}/smssurveys:
    post:
      tags:
      - Survey
      summary: Calls service.surveys on the new platform and sends a Mobile Review Surge survey via SMS
        to the given destination phone number.
      operationId: Survey_RequestSurvey
      consumes:
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      - application/json
      - text/json
      - text/html
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: clientId
        in: path
        description: This is the Account GUID.
        required: true
        type: string
        format: uuid
      - name: data
        in: body
        description: The collection of data in the Form.
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/System.Collections.Generic.KeyValuePair[System.String,System.String]'
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/survey/GetMobileSurveyStats:
    get:
      tags:
      - Survey
      summary: Returns just the stats, no surveys, broken up by intervals.
      operationId: Survey_GetMobileSurveyStatsAsync
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: token
        in: query
        description: The client or portal user GUID.
        required: true
        type: string
        format: uuid
      - name: type
        in: query
        description: Used to determine if this is client or portal user GUID.
        required: true
        type: string
      - name: timespan
        in: query
        description: 'Acceptable timespans are: 1w, 30d, 90d, 6m, 1y, hist. These match the front end''s
          filters.'
        required: false
        type: string
      - name: interval
        in: query
        description: "It is ok to have a null interval as long as the front end sent us a timespan and\
          \ not a fromDate and toDate.\r\n            Otherwise, an interval must be provided."
        required: false
        type: string
      - name: fromCurrentDate
        in: query
        description: ''
        required: false
        type: boolean
      - name: query.fromDate
        in: query
        required: false
        type: string
        format: date-time
      - name: query.toDate
        in: query
        required: false
        type: string
        format: date-time
      - name: query.categories
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: query.type
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: query.brands
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: query.q
        in: query
        required: false
        type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/survey/{token}/ReviewSurgeReport:
    get:
      tags:
      - Survey
      summary: Get the ReviewSurgeReport and generate the csv file
      operationId: Survey_GetReviewSurgeReport
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: token
        in: path
        description: Account guid
        required: true
        type: string
        format: uuid
      - name: query.fromDate
        in: query
        required: true
        type: string
        format: date-time
      - name: query.toDate
        in: query
        required: false
        type: string
        format: date-time
      - name: query.categories
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: query.reviewType
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: query.source
        in: query
        required: false
        type: string
      - name: query.siteName
        in: query
        required: false
        type: string
      - name: query.disputedReview
        in: query
        required: false
        type: boolean
      - name: query.state
        in: query
        required: false
        type: string
      - name: query.hasResponse
        in: query
        required: false
        type: boolean
      - name: query.closedLoop
        in: query
        required: false
        type: boolean
      - name: query.brands
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: query.orderBy
        in: query
        required: false
        type: string
      - name: query.page
        in: query
        required: false
        type: integer
        format: int32
      - name: query.pageSize
        in: query
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/survey/{token}/ReviewSurgeReportByWeek:
    get:
      tags:
      - Survey
      summary: Get the ReviewSurgeReport and generate the csv file of a week
      operationId: Survey_ReviewSurgeReportWeek
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: token
        in: path
        description: Account guid
        required: true
        type: string
        format: uuid
      - name: query.fromDate
        in: query
        required: true
        type: string
        format: date-time
      - name: query.toDate
        in: query
        required: false
        type: string
        format: date-time
      - name: query.categories
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: query.reviewType
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: query.source
        in: query
        required: false
        type: string
      - name: query.siteName
        in: query
        required: false
        type: string
      - name: query.disputedReview
        in: query
        required: false
        type: boolean
      - name: query.state
        in: query
        required: false
        type: string
      - name: query.hasResponse
        in: query
        required: false
        type: boolean
      - name: query.closedLoop
        in: query
        required: false
        type: boolean
      - name: query.brands
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: query.orderBy
        in: query
        required: false
        type: string
      - name: query.page
        in: query
        required: false
        type: integer
        format: int32
      - name: query.pageSize
        in: query
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/survey/{token}/ReviewSurgeReportByMonth:
    get:
      tags:
      - Survey
      summary: Get the ReviewSurgeReport and generate the csv file of a month
      operationId: Survey_ReviewSurgeReportMonth
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: token
        in: path
        description: Account guid
        required: true
        type: string
        format: uuid
      - name: query.fromDate
        in: query
        required: true
        type: string
        format: date-time
      - name: query.toDate
        in: query
        required: false
        type: string
        format: date-time
      - name: query.categories
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: query.reviewType
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: query.source
        in: query
        required: false
        type: string
      - name: query.siteName
        in: query
        required: false
        type: string
      - name: query.disputedReview
        in: query
        required: false
        type: boolean
      - name: query.state
        in: query
        required: false
        type: string
      - name: query.hasResponse
        in: query
        required: false
        type: boolean
      - name: query.closedLoop
        in: query
        required: false
        type: boolean
      - name: query.brands
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: query.orderBy
        in: query
        required: false
        type: string
      - name: query.page
        in: query
        required: false
        type: integer
        format: int32
      - name: query.pageSize
        in: query
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/surveyResponse/{surveyResponseGuid}:
    get:
      tags:
      - SurveyResponse
      summary: Retrieve survey response by identifier
      operationId: SurveyResponse_GetSurveyResponse
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: surveyResponseGuid
        in: path
        description: ''
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DAS.Models.SurveyResponseV2'
  /v1/surveyResponse/{surveyResponse}/response:
    get:
      tags:
      - SurveyResponse
      summary: Retrieve all responses for a survey response
      operationId: SurveyResponse_GetSurveyResponseResponses
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: surveyResponse
        in: path
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DAS.Models.ProposedResponse'
  /v1/surveyResponse/{surveyResponseGuid}/response/{responseGuid}:
    get:
      tags:
      - SurveyResponse
      summary: Retrieve a single survey response response
      operationId: SurveyResponse_GetSurveyResponseResponse
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: surveyResponseGuid
        in: path
        description: ''
        required: true
        type: string
        format: uuid
      - name: responseGuid
        in: path
        description: ''
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DAS.Models.ProposedResponse'
  /v1/surveyResponse/{surveyResponseGuid}/response:
    post:
      tags:
      - SurveyResponse
      summary: Create a new survey response response
      operationId: SurveyResponse_PostSurveyResponseResponse
      consumes:
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      - application/json
      - text/json
      - text/html
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: proposedResponse
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/DAS.Models.ProposedResponse'
      - name: surveyResponseGuid
        in: path
        description: ''
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DAS.Models.ProposedResponse'
  /v1/surveyResponse/{surveyResponseGuid}/DealerResponse:
    post:
      tags:
      - SurveyResponse
      summary: Create or update a pending request for store dealer's response to survey
      operationId: SurveyResponse_PostSurveyDealerResponse
      consumes:
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      - application/json
      - text/json
      - text/html
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: surveyResponseGuid
        in: path
        required: true
        type: string
        format: uuid
      - name: response
        in: body
        required: true
        schema:
          $ref: '#/definitions/DAS.Models.SurveyDealerComments'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DAS.Models.SurveyDealerComments'
  /v1/transaction/{transactionId}:
    get:
      tags:
      - Transaction
      summary: Retrieve a transaction by identifier
      operationId: Transaction_GetTransaction
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: transactionId
        in: path
        description: ''
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DAS.Models.Transaction'
  /v1/user/me:
    get:
      tags:
      - User
      summary: Retrieve the user executing this request
      operationId: User_GetUser
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DAS.Models.UserModel'
  /v1/user/{userGuid}:
    get:
      tags:
      - User
      operationId: User_GetUser
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: userGuid
        in: path
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DAS.Models.UserModel'
  /v1/user:
    post:
      tags:
      - User
      operationId: User_PostUser
      consumes:
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      - application/json
      - text/json
      - text/html
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: user
        in: body
        required: true
        schema:
          $ref: '#/definitions/DAS.Models.UserModel'
      - name: sendWelcome
        in: query
        required: false
        type: boolean
      - name: template
        in: query
        required: false
        type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/user/me/settings:
    get:
      tags:
      - User
      summary: Retrieve user settings for the current user
      operationId: User_GetUserSettings
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: array
              items:
                $ref: '#/definitions/DAS.Models.UserSettings'
  /v1/user/{userGuid}/{accountGuid}/settings:
    get:
      tags:
      - User
      summary: Retrieve user settings for the current user
      operationId: User_GetUserSettings
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: userGuid
        in: path
        required: true
        type: string
        format: uuid
      - name: accountGuid
        in: path
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: array
              items:
                $ref: '#/definitions/DAS.Models.UserSettings'
  /v1/user/me/notification:
    get:
      tags:
      - User
      operationId: User_GetNotificationSettings
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: array
              items:
                $ref: '#/definitions/DAS.Models.NotificationSettings'
  /v1/user/{userGuid}/{accountGuid}/notification:
    get:
      tags:
      - User
      operationId: User_GetNotificationSettings
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: userGuid
        in: path
        required: true
        type: string
        format: uuid
      - name: accountGuid
        in: path
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: array
              items:
                $ref: '#/definitions/DAS.Models.NotificationSettings'
  /v1/user/me/settings/report:
    get:
      tags:
      - User
      operationId: User_GetReportSettings
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: array
              items:
                $ref: '#/definitions/DAS.Models.ReportSettings'
  /v1/user/{userGuid}/{accountGuid}/report:
    get:
      tags:
      - User
      operationId: User_GetReportSettings
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: userGuid
        in: path
        required: true
        type: string
        format: uuid
      - name: accountGuid
        in: path
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: array
              items:
                $ref: '#/definitions/DAS.Models.ReportSettings'
  /v1/user/me/settings/custom:
    get:
      tags:
      - User
      operationId: User_GetCustomSettings
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      responses:
        '200':
          description: OK
          schema:
            type: string
    post:
      tags:
      - User
      operationId: User_PostCustomSettings
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: custom
        in: query
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/user/{userGuid}/settings/custom:
    get:
      tags:
      - User
      operationId: User_GetCustomSettings
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: userGuid
        in: path
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: string
    post:
      tags:
      - User
      operationId: User_PostCustomSettings
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: userGuid
        in: path
        required: true
        type: string
        format: uuid
      - name: custom
        in: query
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/user/me/{accountGuid}/settings/notification:
    post:
      tags:
      - User
      operationId: User_PostNotificationSettings
      consumes:
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      - application/json
      - text/json
      - text/html
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: settings
        in: body
        required: true
        schema:
          $ref: '#/definitions/DAS.Models.NotificationSettings'
      - name: accountGuid
        in: path
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/user/{userGuid}/{accountGuid}/settings/notification:
    post:
      tags:
      - User
      operationId: User_PostNotificationSettings
      consumes:
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      - application/json
      - text/json
      - text/html
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: settings
        in: body
        required: true
        schema:
          $ref: '#/definitions/DAS.Models.NotificationSettings'
      - name: userGuid
        in: path
        required: true
        type: string
        format: uuid
      - name: accountGuid
        in: path
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/user/me/{accountGuid}/settings/report:
    post:
      tags:
      - User
      operationId: User_PostReportSettings
      consumes:
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      - application/json
      - text/json
      - text/html
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: settings
        in: body
        required: true
        schema:
          $ref: '#/definitions/DAS.Models.ReportSettings'
      - name: accountGuid
        in: path
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/user/{userGuid}/{accountGuid}/settings/report:
    post:
      tags:
      - User
      operationId: User_PostReportSettings
      consumes:
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      - application/json
      - text/json
      - text/html
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: settings
        in: body
        required: true
        schema:
          $ref: '#/definitions/DAS.Models.ReportSettings'
      - name: userGuid
        in: path
        required: true
        type: string
        format: uuid
      - name: accountGuid
        in: path
        required: true
        type: string
        format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/user/list:
    get:
      tags:
      - User
      summary: Retrieve a list of all users
      operationId: User_GetList
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: all
        in: query
        required: false
        type: boolean
      - name: orderBy
        in: query
        description: "FirstName\r\nFirstNameDESC\r\nLastName\r\nLastNameDESC\r\nEmail\r\nEmailDESC\r\n\
          AccessLevel\r\nAccessLevelDESC\r\nUpdated\r\nUpdatedDESC"
        required: false
        type: string
      - name: pageSize
        in: query
        required: false
        type: integer
        format: int32
      - name: page
        in: query
        required: false
        type: integer
        format: int32
      - name: q
        in: query
        required: false
        type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DAS.Models.UserModel'
  /v1/user/listForReport:
    get:
      tags:
      - User
      summary: Retrieve a list of all users with specified report settings
      operationId: User_GetListForReport
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: type
        in: query
        description: ''
        required: true
        type: string
        enum:
        - Enterprise
        - Unsubscribe
        - Bounce
      - name: frequency
        in: query
        description: ''
        required: true
        type: string
        enum:
        - Never
        - Daily
        - Weekly
        - Monthly
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DAS.Models.UserModel'
  /v1/user/test:
    get:
      tags:
      - User
      operationId: User_GetTest
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: string
  /v1/user/resendWelcome:
    get:
      tags:
      - User
      operationId: User_GetResendWelcome
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: email
        in: query
        required: true
        type: string
      - name: template
        in: query
        required: false
        type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/user/resendWelcomeAllUsers:
    get:
      tags:
      - User
      operationId: User_GetResendWelcomeAllUsers
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: key
        in: query
        required: true
        type: string
      - name: template
        in: query
        required: false
        type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/user/findGuid:
    get:
      tags:
      - User
      operationId: User_GetFindGuid
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: email
        in: query
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            format: uuid
            type: string
  /v1/user/{userGuid}/password:
    post:
      tags:
      - User
      operationId: User_PostPassword
      consumes:
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      - application/json
      - text/json
      - text/html
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: userGuid
        in: path
        required: true
        type: string
        format: uuid
      - name: password
        in: body
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/user/forgotPassword:
    get:
      tags:
      - User
      operationId: User_GetForgotPassword
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: email
        in: query
        required: false
        type: string
      - name: template
        in: query
        required: false
        type: string
      - name: token
        in: query
        required: false
        type: string
        format: uuid
      - name: newPassword
        in: query
        required: false
        type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/vehicles/{vin}:
    get:
      tags:
      - Vehicle
      operationId: Vehicle_GetVinDetails
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      parameters:
      - name: vin
        in: path
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/vehicles/test:
    get:
      tags:
      - Vehicle
      operationId: Vehicle_GetCarDetails
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      responses:
        '200':
          description: OK
          schema:
            type: object
  /v1/zuora/signature:
    post:
      tags:
      - Zuora
      operationId: Zuora_RequestDigitalSignature
      consumes: []
      produces:
      - application/xml
      - text/xml
      - application/json
      - text/json
      - text/html
      responses:
        '200':
          description: OK
          schema:
            type: object
definitions:
  DAS.Models.PortalAccountDetailed:
    type: object
    properties:
      address:
        $ref: '#/definitions/DAS.Models.PortalAccountAddress'
      phone:
        type: string
      website:
        type: string
      name:
        type: string
      guid:
        format: uuid
        type: string
      parent:
        type: array
        items:
          $ref: '#/definitions/DAS.Models.PortalAccount'
      child:
        type: array
        items:
          $ref: '#/definitions/DAS.Models.PortalAccount'
  DAS.Models.PortalAccountAddress:
    type: object
    properties:
      street:
        type: string
      city:
        type: string
      state:
        type: string
      postalCode:
        type: string
      country:
        type: string
  DAS.Models.PortalAccount:
    type: object
    properties:
      name:
        type: string
      guid:
        format: uuid
        type: string
      parent:
        type: array
        items:
          $ref: '#/definitions/DAS.Models.PortalAccount'
      child:
        type: array
        items:
          $ref: '#/definitions/DAS.Models.PortalAccount'
  DAS.Models.SocialActivity:
    type: object
    properties:
      id:
        format: int32
        type: integer
      clientGuid:
        format: uuid
        type: string
      createdBy:
        type: string
      activityType:
        type: string
      createdDate:
        format: date-time
        type: string
      activityDate:
        format: date-time
        type: string
      activityDescription:
        type: string
  DAS.Models.ReviewQuery:
    required:
    - fromDate
    type: object
    properties:
      fromDate:
        format: date-time
        type: string
      toDate:
        format: date-time
        type: string
      categories:
        type: array
        items:
          type: string
      reviewType:
        type: array
        items:
          type: string
      source:
        type: string
      siteName:
        type: string
      disputedReview:
        type: boolean
      state:
        type: string
      hasResponse:
        type: boolean
      closedLoop:
        type: boolean
      brands:
        type: array
        items:
          type: string
      orderBy:
        type: string
      page:
        format: int32
        type: integer
      pageSize:
        format: int32
        type: integer
  DAS.Models.ReviewV2:
    type: object
    properties:
      id:
        format: uuid
        type: string
      comment:
        type: string
      accountGuid:
        format: uuid
        type: string
      reviewerName:
        type: string
      siteName:
        type: string
      rating:
        type: string
      isClosedLoopReview:
        type: boolean
      reviewDate:
        format: date-time
        type: string
      district:
        type: string
      dealerName:
        type: string
      department:
        type: string
      hasResponse:
        type: boolean
      reviewResponses:
        type: array
        items:
          $ref: '#/definitions/DAS.Models.ReviewResponseV2'
      city:
        type: string
      state:
        type: string
      reviewUrl:
        type: string
      canRespond:
        type: boolean
      canRespondInline:
        type: boolean
      proposedResponses:
        type: array
        items:
          $ref: '#/definitions/DAS.Models.ProposedResponse'
      canChangeDepartment:
        type: boolean
  DAS.Models.ReviewResponseV2:
    type: object
    properties:
      responseDate:
        format: date-time
        type: string
      responderName:
        type: string
      responseTitle:
        type: string
      responseComment:
        type: string
      canEditResponse:
        type: boolean
      lastModified:
        format: date-time
        type: string
      reviewResponseGuid:
        format: uuid
        type: string
      proposed:
        type: boolean
      externalId:
        type: string
  DAS.Models.ProposedResponse:
    type: object
    properties:
      responseDate:
        format: date-time
        type: string
      responderName:
        type: string
      responseTitle:
        type: string
      responseComment:
        type: string
      canEditResponse:
        type: boolean
      accepted:
        type: boolean
      acceptedDate:
        format: date-time
        type: string
      lastModified:
        format: date-time
        type: string
      surveyResponseResponseGuid:
        format: uuid
        type: string
  DAS.Core.EntityFramework.Review:
    type: object
    properties:
      id:
        format: int32
        type: integer
      reviewGuid:
        format: uuid
        type: string
      reviewSourceId:
        format: int32
        type: integer
      accountGuid:
        format: uuid
        type: string
      externalId:
        type: string
      reviewSiteId:
        format: int32
        type: integer
      created:
        format: date-time
        type: string
      modified:
        format: date-time
        type: string
      reviewDate:
        format: date-time
        type: string
      reviewScore:
        format: double
        type: number
      reviewerName:
        type: string
      reviewerCity:
        type: string
      reviewerState:
        type: string
      reviewerCountry:
        type: string
      reviewUrl:
        type: string
      reviewTitle:
        type: string
      reviewComment:
        type: string
      aylienException:
        type: boolean
      accountId:
        format: int32
        type: integer
      isClosedLoop:
        type: boolean
      surveyResponseId:
        format: int32
        type: integer
      softDeleteDateUTC:
        format: date-time
        type: string
      account:
        $ref: '#/definitions/DAS.Core.EntityFramework.Account'
      reviewSite:
        $ref: '#/definitions/DAS.Core.EntityFramework.ReviewSite'
      reviewSource:
        $ref: '#/definitions/DAS.Core.EntityFramework.ReviewSource'
      reviewClassifications:
        type: array
        items:
          $ref: '#/definitions/DAS.Core.EntityFramework.ReviewClassification'
      reviewResponses:
        type: array
        items:
          $ref: '#/definitions/DAS.Core.EntityFramework.ReviewResponse'
      categories:
        type: array
        items:
          $ref: '#/definitions/DAS.Core.EntityFramework.Category'
      surveyResponse:
        $ref: '#/definitions/DAS.Core.EntityFramework.SurveyResponse'
      reviewCategoryDispositions:
        type: array
        items:
          $ref: '#/definitions/DAS.Core.EntityFramework.ReviewCategoryDisposition'
  DAS.Core.EntityFramework.Account:
    type: object
    properties:
      id:
        format: int32
        type: integer
      name:
        type: string
      token:
        format: uuid
        type: string
      mySqlDealerId:
        format: int32
        type: integer
      newSFDCId:
        type: string
      oldSFDCId:
        type: string
      bacCode:
        type: string
      rlCustomerId:
        format: int32
        type: integer
      rlName:
        type: string
      slName:
        type: string
      ownerId:
        format: int32
        type: integer
      website:
        type: string
      phone:
        type: string
      kiaCode:
        type: string
      kiaDistrict:
        type: string
      sfdcParentAccountId:
        type: string
      deleted:
        type: boolean
      slActive:
        type: boolean
      rsActive:
        type: boolean
      parentAccountId:
        format: int32
        type: integer
      oemProgram:
        type: string
      recordType:
        type: string
      alternativeGuid:
        format: uuid
        type: string
      customPortalProspect:
        type: boolean
      brands:
        type: string
      mcActive:
        type: boolean
      flexTemplate:
        type: boolean
      collectReviews:
        type: boolean
      oemPrograms:
        type: string
      amrsActive:
        type: boolean
      dynParentAccountId:
        format: uuid
        type: string
      dynId:
        format: uuid
        type: string
      socialActive:
        type: boolean
      reputationActive:
        type: boolean
      privacyPolicyUrl:
        type: string
      facebookPageId:
        type: string
      latitude:
        type: string
      longitude:
        type: string
      dealershipHours:
        type: string
      dealershipLogo:
        type: string
      remoteTestDriveBadge:
        type: boolean
      conciergeServiceBadge:
        type: boolean
      reviewScoreBadge:
        type: boolean
      buyFromHomeBadge:
        type: boolean
      tekionId:
        type: string
      accountCompetitors:
        type: array
        items:
          $ref: '#/definitions/DAS.Core.EntityFramework.AccountCompetitor'
      competitorOfAccounts:
        type: array
        items:
          $ref: '#/definitions/DAS.Core.EntityFramework.AccountCompetitor'
      childOfHierarchies:
        type: array
        items:
          $ref: '#/definitions/DAS.Core.EntityFramework.AccountHierarchy'
      parentOfHierarchies:
        type: array
        items:
          $ref: '#/definitions/DAS.Core.EntityFramework.AccountHierarchy'
      reviews:
        type: array
        items:
          $ref: '#/definitions/DAS.Core.EntityFramework.Review'
      childAccounts:
        type: array
        items:
          $ref: '#/definitions/DAS.Core.EntityFramework.Account'
      parentAccount:
        $ref: '#/definitions/DAS.Core.EntityFramework.Account'
      rlCustomer:
        $ref: '#/definitions/DAS.Core.EntityFramework.RLCustomer'
      sfdcUser:
        $ref: '#/definitions/DAS.Core.EntityFramework.SFDCUser'
      hierarchies:
        type: array
        items:
          $ref: '#/definitions/DAS.Core.EntityFramework.Hierarchy'
      rooftops:
        type: array
        items:
          $ref: '#/definitions/DAS.Core.EntityFramework.Rooftop'
      packages:
        type: array
        items:
          $ref: '#/definitions/DAS.Core.EntityFramework.Package'
      surveys:
        type: array
        items:
          $ref: '#/definitions/DAS.Core.EntityFramework.Survey'
      addresses:
        type: array
        items:
          $ref: '#/definitions/DAS.Core.EntityFramework.Address'
      dashboardClients:
        type: array
        items:
          $ref: '#/definitions/DAS.Core.EntityFramework.DashboardClient'
      accountIntegration:
        $ref: '#/definitions/DAS.Core.EntityFramework.AccountIntegration'
      accountBrands:
        type: array
        items:
          $ref: '#/definitions/DAS.Core.EntityFramework.AccountBrand'
      accountInventories:
        type: array
        items:
          $ref: '#/definitions/DAS.Core.EntityFramework.AccountInventory'
      sociProject:
        $ref: '#/definitions/DAS.Core.EntityFramework.SociProject'
      oemCodes:
        type: array
        items:
          $ref: '#/definitions/DAS.Core.EntityFramework.OemCode'
      oemPrograms1:
        type: array
        items:
          $ref: '#/definitions/DAS.Core.EntityFramework.OemProgram'
      facebookAdAccounts:
        type: array
        items:
          $ref: '#/definitions/DAS.Core.EntityFramework.FacebookAdAccount'
  DAS.Core.EntityFramework.ReviewSite:
    type: object
    properties:
      id:
        format: int32
        type: integer
      name:
        type: string
      legacyId:
        format: int32
        type: integer
      url:
        type: string
      reviews:
        type: array
        items:
          $ref: '#/definitions/DAS.Core.EntityFramework.Review'
      manualListings:
        type: array
        items:
          $ref: '#/definitions/DAS.Core.EntityFramework.ManualListing'
  DAS.Core.EntityFramework.ReviewSource:
    type: object
    properties:
      id:
        format: int32
        type: integer
      name:
        type: string
      reviews:
        type: array
        items:
          $ref: '#/definitions/DAS.Core.EntityFramework.Review'
  DAS.Core.EntityFramework.ReviewClassification:
    type: object
    properties:
      id:
        format: int32
        type: integer
      reviewId:
        format: int32
        type: integer
      label:
        type: string
      score:
        format: double
        type: number
      created:
        format: date-time
        type: string
      review:
        $ref: '#/definitions/DAS.Core.EntityFramework.Review'
  DAS.Core.EntityFramework.ReviewResponse:
    type: object
    properties:
      id:
        format: int32
        type: integer
      reviewId:
        format: int32
        type: integer
      externalId:
        type: string
      created:
        format: date-time
        type: string
      modified:
        format: date-time
        type: string
      responseDate:
        format: date-time
        type: string
      responderName:
        type: string
      responseTitle:
        type: string
      responseComment:
        type: string
      reviewResponseGuid:
        format: uuid
        type: string
      proposed:
        type: boolean
      reviewSourceId:
        format: int32
        type: integer
      review:
        $ref: '#/definitions/DAS.Core.EntityFramework.Review'
  DAS.Core.EntityFramework.Category:
    type: object
    properties:
      id:
        format: int32
        type: integer
      name:
[...]
